@keyframes slideUp {
  0% {
    transform : translate(0,0);
  }
  100%{
    transform : translate(0, -100%);
  }
}

.App {
  text-align: center;
}

.sliding{
  animation: slideUp 2s ease;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideUp1 {
  0% {
    transform : translate(0,0);
  }
  100%{
    transform : translate(0,-100%);
  }
}

@keyframes slideUp2 {
  0% {
    transform : translate(0,0);
  }
  100%{
    transform : translate(0,100%);
  }
}

@keyframes slideUp3 {
  0% {
    transform : translate(0,100%);
  }
  100%{
    transform : translate(0,0);
  }
}

@keyframes slideDown1 {
  0% {
    transform : translate(0,-100%);
  }
  100%{
    transform : translate(0,0);
  }
}

@keyframes slideDown2 {
  0% {
    transform : translate(0,-100%);
  }
  100%{
    transform : translate(0,0);
  }
}


.animationUp1{
  width : 100vw;
  height: 100vh;
  /*background-color: red;*/
  position : absolute;
  top : 0;
  animation: slideUp1 2s ease forwards;
}

.animationUp2{
  width : 100vw;
  height: 100vh;
  /*background-color: red;*/
  /*position : absolute;*/
  animation: slideUp2 2s ease forwards;
}

.animationUp3{
  width : 100vw;
  height: 100vh;
  /*background-color: red;*/
  /*position : absolute;*/
  animation: slideUp3 2s ease forwards;
}

.animationDown1{
  width : 100vw;
  height: 100vh;
  position : absolute;
  z-index : 10;
  animation: slideDown1 2s ease forwards;
}

.animationDown2{
  width : 100vw;
  height: 100vh;
  /*background-color: red;*/
  /*position : absolute;*/
  animation: slideDown2 2s ease forwards;
}

.stay{
  display : none;
}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
